body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}


.navbar ul {
    list-style-type: none; /* Removes the bullet points */
    margin: 0; /* Resets default browser margin */
    padding: 0; /* Resets default browser padding */
    overflow: hidden; /* Ensures all content is contained */
    background-color: #333; /* Dark background color */
}
.navbar li {
    float: inline-end; /* Makes list items float next to each other horizontally */
}

.navbar li a {
    display: block;
    /* Makes the whole link area clickable and allows padding */
    color: rgb(113, 27, 242); /* White text color */
    text-align: center; /* Centers the text */
    padding: 14px 16px; /* Adds spacing around the links */
    text-decoration: none; /* Removes the default underline from links */
}
#l{
   float: left;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    padding-top: 6px;
    padding-left: 10px;
}

/* Change the background color of links on hover */
.navbar li a:hover {
    background-color: #000000;
    color: rgb(154, 37, 244);
}

/* Adds a highlight to the active/current link */
.navbar li a.active {
    background-color: #000000;
    color: rgb(109, 27, 223);
}
.wrapper{
    border:1px solid black;
    width:100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 410px;
    margin-top: 80px;
   
    overflow: hidden;
   
    
}
@keyframes scrollleft {
    from {
        
    }
    to {
        left: -200%;
    }
    
}
.item{
    width:400px;
    height:400px;
    border-radius: 6px;
    border: 5px solid rgb(137, 54, 233);
    background-color: red;
    position: absolute;
    left: calc(200px*8);
    animation: scrollleft 25s linear infinite;
 }
 .item1{
    animation-delay:calc(25s / 9 * (9 - 1)*-1);
 }

 .item2{
    animation-delay:calc(25s / 9 * (9 - 2)*-1);
 }

 .item3{
    animation-delay:calc(25s / 9 * (9 - 3)*-1)  ;
 }

 .item4{
    animation-delay:calc(25s / 9 * (9 - 4)*-1);
 }

 .item5{
    animation-delay:calc(25s / 9 * (9 - 5)*-1)  ;
 }

.item6{
    animation-delay:calc(25s / 9 * (9 - 6)*-1);
 }

.item7{
    animation-delay:calc(25s / 9 * (9 - 7)*-1);
}

.item8{
    animation-delay:calc(25s / 9 * (9 - 8)*-1);
}

.item9{
    animation-delay:calc(25s / 9 * (9 - 9)*-1);
}
.header{
    text-align:left;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2rem;
    color: rgb(148, 47, 255);
    margin-left: 20px;
}

 